<%-include('partials/encabezado.html')%>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="mb-3">
                  <label for="numBoleto" class="form-label">Numero de boleto</label>
                  <input type="text" class="form-control" id="numBoleto" >
                  
                </div>
                <div class="mb-3">
                  <label for="destino" class="form-label">Destino</label>
                  <input type="text" class="form-control" id="destino">
                </div>
                <div class="mb-3">
                    <label for="nombreDelCliente" class="form-label">Nombre del cliente</label>
                    <input type="text" class="form-control" id="nombreDelCliente">
                </div>
                <div class="mb-3">
                    <label for="anosCumplidos" class="form-label">Años cumplidos</label>
                    <input type="text" class="form-control" id="anosCumplidos">
                </div>
               
                <div class="mb-3">
                    <label for="tipoDeViaje" class="form-label">Tipo de viaje</label>
                    <select class="form-select" aria-label="Tipo de viaje" id="tipoDeViaje">
                        <option selected>Seleccione un tipo de viaje</option>
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>
                      </select>
                </div>

                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="precio">
                </div>
                <br>
                <hr>
                <br>
                <button type="submit" class="btn btn-primary">Calcular</button>
                <button type="reset" class="btn btn-danger">Limpiar</button>
              </form>

              <div class="mb-3">
                <label for="subtotal" class="form-label">Subtotal</label>
                <input class="form-control" type="text" value="Subtotal" aria-label="Subtotal" readonly id="subtotal">
              </div>
              <div class="mb-3">
                <label for="impuesto" class="form-label">Impuesto 16%</label>
                <input class="form-control" type="text" value="Subtotal" aria-label="Subtotal" readonly id="impuesto">
              </div>
              <div class="mb-3">
                <label for="descuento" class="form-label">Descuento</label>
                <input class="form-control" type="text" value="Subtotal" aria-label="Subtotal" readonly id="descuento">
              </div>
              <div class="mb-3">
                <label for="totalAPagar" class="form-label">Impuesto 16%</label>
                <input class="form-control" type="text" value="Subtotal" aria-label="Subtotal" readonly id="totalAPagar">
              </div>

        </div>
    </div>
</div>

<%-include('partials/footer.html')%>
    
</body>
</html>